@model inmobiliariaAST.Models.Pago

@{
    ViewBag.Title = "Agregar Pago";
}

<h2>Agregar Pago</h2>

<form asp-action="Crear">
     <div class="form-group">
        @Html.LabelFor(model => model.ID_contrato, "Contrato")
        @Html.DropDownList("ID_contrato",  (SelectList)ViewBag.Contratos, "Seleccionar Contrato", new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="Fecha_pago">Fecha de Pago</label>
        <input type="date" asp-for="Fecha_pago" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Importe">Importe</label>
        <input type="number" asp-for="Importe" class="form-control" step="0.01" />
    </div>

    <div class="form-group">
        <label for="Concepto">Concepto</label>
        <input type="text" asp-for="Concepto" class="form-control" />
    </div>

    <input type="hidden" asp-for="Estado" value="true" />

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="@Url.Action("Index", "Pago")" class="btn btn-secondary">Volver</a>
</form>
