@model PasswordViewModel

<h2>Cambiar Contraseña</h2>

<form asp-action="Pass" method="post">
    <div class="form-group">
        <label for="PasswordActual">Contraseña Actual</label>
        <input asp-for="PasswordActual" class="form-control" type="password" />
        <span asp-validation-for="PasswordActual" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="NuevaPassword">Nueva Contraseña</label>
        <input asp-for="NuevaPassword" class="form-control" type="password" />
        <span asp-validation-for="NuevaPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="ConfirmarPassword">Confirmar Nueva Contraseña</label>
        <input asp-for="ConfirmarPassword" class="form-control" type="password" />
        <span asp-validation-for="ConfirmarPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
</form>
